# Email Configuration
RESEND_API_KEY=
RECIPIENT_EMAIL=keremliving@gmail.com

# Next.js Configuration
NEXT_TELEMETRY_DISABLED=1

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
